body {
    background: url(../images/kitchenbg3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    margin-top: 50px;
    margin-bottom:50px;
    background-color: whitesmoke;
    opacity: .9;
}

.form {
    padding: 10px;
}